.foodporn_root {
  position: fixed;
  top: 0px;
  right: 0;
  width: 300px;
  opacity: 0.8; }
  .foodporn_root div {
    background: #fff;
    padding: 0.5em; }
    .foodporn_root div.warning {
      background: #fcffdb; }
    .foodporn_root div.error {
      background: #f99f9f; }
    .foodporn_root div.acceptable {
      background: #fff; }
    .foodporn_root div ul {
      margin: 5px 0px;
      padding: 0 0 0 26px; }
    .foodporn_root div i {
      display: block;
      margin: 0 0 8px 20%; }
      .foodporn_root div i b {
        font-size: 110%; }
        .foodporn_root div i b i {
          font-size: 80%;
          color: #090;
          margin-left: 10px; }
