.foodporn_root {
  position: fixed;
  top: 5px;
  right: 5px;
  width: 300px;
  opacity: 0.8;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: #867649 0px 2px 5px;
  & > div {
    padding: 0.5em;

    &:not(:last-child) {
      &:after {
        content: '*****';
        display: inline-block;
        text-align: center;
        width: 100%;
        position: relative;
        top: 20px;
        line-height: 10px;
        font-size: 16px;
        letter-spacing: 1em;
        color: #e3ef90;
      }
    }

    &.warning {
      background: #f4ffc2;
    }

    &.error {
      background: #ff8888;
      > i {
        font-weight: bold;
      }
      strong {
        color: #c30000;
      }
    }

    &.acceptable {
      background: #dbfdff;
    }

    strong {
      text-align: center;
      display: block;
    }

    ul {
      margin: 5px 0px;
      padding: 0 0 0 26px;
    }

    i {
      display: block;
      margin: 0 0 8px 20%;

      b {
        font-size: 110%;

        i {
          display: inline-block;
          font-size: 80%;
          color: #090;
          margin-left: 10px;
        }
      }
    }
  }
}
